# vscode
.vscode
__pycache__

# jupyter notebook
.ipynb_checkpoints

# test code
test_*

# weights file
*.pth
*.onnx

#weights folder
weights/

# paper
*.ppt
*.pdf
*.docx
*.tmp

# temp file
temp/
*.cfg